*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

:root{
    /* variable */
    --body-color:#efefef;
    --nav-color:#1876f2;
    --bg-color:#fff;
}
.dark-theme{
    --body-color:#0a0a0a;
    --nav-color:#000;
    --bg-color:#000;
    
}
body{
    background-color:var(--body-color);
    transition: background 0.3s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--nav-color);
    padding:5px 5% ;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;

}
.nav-left ul li img{
    width: 28px;
    margin: 0px 15px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}
.nav-user-icon{
    margin-left: 20px;
}
.search-box{
    width: 350px;
    height: 30px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    background-color: #efefef;
}
.search-box img{
    width: 18px;

}
.search-box input{
    width:100%;
    padding: 10%;
    outline: none;
    border: 0;
    background: transparent;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
/*       nav end     + */
.container{
    display: flex;
    margin-top: 10px;
  
    justify-content: space-between;
    pad: 13px 5%;
}
.left-sidebar{
    /* background: #cbdffa; */
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-left: 50px;
   
}
.right-sidebar{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-right: 30px;
   
}
.main-sidebar{
    flex-basis: 47%;
    
}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a img{
   width: 25px;
   margin-right: 15px;
}
.imp-links a:last-child{
    color: rgb(252, 17, 56);
    

}
.imp-links{
    border-bottom: 1px solid ;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    columns: #626262;
    font-weight: 500;
    color: #df0a0a;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

}
.left-event{
    border-radius: 5px;
    height: 65px;
    width: 65px;margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;

}
.event a{
    font-size: 12px;
    text-decoration: none;
    color:#1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;

 }
 .sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
 }
 .online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
 }
 .online-list .online img{

    width: 40px;
    border-radius: 50%;
 }
 .online-list .online{
    width: 40px;
    margin-right: 15px;
    border-radius: 15px;
 }
 .online-list .online::after{
    top: unset;
    bottom: 5px;

 }


 /* main box or middle part of site */

 .story-gallary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 .story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    /* background-image: linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-3.png); */
    background-size: cover;
    border-radius: 10px;
 }
 .story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2 ;

 }
 .story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
 }
 .story1{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-1.jpg);

 }
 .story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-5.png);

 }
 .story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-3.jpg);

 }
 .story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-3.png);

 }
 .story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-2.jpg);

 }
 .story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%);
    border: 0;
    width: 35px;
 }

 .write-post-container{
    width: 100%;
    padding: 20px;
    color: #626262;
    background:var(--bg-color);
    border-radius: 6px;

 }
 
 .user-profile{
    display: flex;
    align-items: center;
    

 }
.user-profile img{
   border-radius: 50%;
   margin-right: 10px;
    width: 10%;
 }
 .user-profile p{
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: 500;
    color: #626262;

   
 }
 .user-profile small{
   font-size:12px;
   margin-left: 5px;
 }

.post-input-container{
    padding-top:20px;
    padding-left: 55px;

 }
 .post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
 }
 .add-post-links{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
 }
 .add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;

 }
 .add-post-links a img{
    width: 20px;
    margin-right: 10px;

 }
 .post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
 }
 .user-profile span{
    font-size: 13px;
    color: #9a9a9a;

 }
 .post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
 }
 .post-text span{
    color: #df0a0a;
    font-weight: 500;

 }
 .post-text a{
    color: #1876f2;
    text-decoration: none;
 }
 .post-image{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
 }
 .post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;

 }
 .activity-icons div img{
    width: 100%;
    margin-right: 10px;
    height: 30px;
 }
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;

}
.post-row a{
    color: #9a9a9a;
}
.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}
/*   setting menu */
.setting-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    top: 108%;
    right: 2.5%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;

}
.setting-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;

}
.setting-menu-inner{
    padding: 20px;

}
.setting-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;

}
.setting-icon{
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s,background 0.5s;

}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;


}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}








/*   profile- page */

.profile-container{
    padding: 20px 15%;
    color: #626262;
   
}
.cover-img{
    width: 100%;
    border-radius: 6px;
    margin-bottom:14px;
   
}
.profile-details{
    background:var(--bg-color);
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    border-radius: 4px;

}
.pd-row{
    align-items: flex-start;
    display: flex;

}
.pd-image{
    width: 100px;
    margin-right: 20px;
    border-radius: 24px;
   
}
.pd-row div h3{
    font-size: 25px;
    font-weight: 600;

}

.profile-details p,h3{
    align-items: center;
    justify-content: space-between;

}
.pd-row div img{
    width: 25px;
    margin-top: 12px;
    border-radius: 50%;
}
.profile-detail-right button{
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;

}
.profile-detail-right button img{
 height: 15px;
 margin-right: 10px;

}
.profile-detail-right button:first-child{
    background: #e4e4e4;
    color: #000;
}
.profile-detail-right{
    text-align: right;
}
.profile-detail-right a{
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}
.profile-detail-right a img{
    width: 20px;
}
.profile-info{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    margin-top: 20px;
}
.info-col{
    flex-basis: 33%;

}
.post-col{
    flex-basis: 65%;
}
.profile-intro{
    background: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;

}
.profile-intro h3{
    font-weight: 600;

}
.intro-text{
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}
.intro-text img{
    width: 15px;
    margin-bottom: -3px;
}
.intro-text hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}
.profile-intro ul li{
list-style: none;
font-size: 15px;
margin: 15px 0;
display: flex;
align-items: center;

}
.profile-intro ul li img{
    width: 26px;
    margin-right: 10px;

}
/* .profile-intro ul li img:last-child{
    width: 15px;
    margin-right: 10px;

} */
#lavkush{
    width: 15px;
    margin-right: 10px;
    margin-left: 8px;
}
.title-box{
display: flex;
justify-content: space-between;
margin-bottom: 10px;
align-items: center;
}
.title-box a {
    text-decoration: none
    /* color: #1876f2;
    font-size: 14px;
     */
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin-top: 15px;

}
.photo-box div img{
    width: 100%;
    cursor: pointer;

}
.profile-intro p{
    font-size: 14px;

}
.friend-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin-top: 20px;

}
.friend-box div img{
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
    margin: 2px;

}
.friend-box div{
    position: relative;

}
.friend-box p{
    position: absolute;
    bottom:-10px;
    left: 0;
}




    




